#header{
    display: flex;
    flex-direction: column;
}
.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 3.5rem;
    background-color: #CBCCCC;
}
.searchbar {
    background-color: #F2F4F5;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: #77878F;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.08);
}

.searchbar {
    background: #F2F4F5;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    color: #77878F;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.actions>*{
    padding: 1rem 1.5rem;
    font-weight: 500;
}

.navlinks {
    padding: 1rem 0;
    margin: 0 auto;
}
.navlink-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    color: #4B5563;
    width: 32.5rem;
    height: 3rem;
}

.navlink-content >*:hover{
    background-color: #F2F4F5;
    color: black;
    padding: 1rem 0.5rem;

}
