<footer class="site-footer">
    <div class="container">
        <div class="row gy-4">

            <!-- CONTACT CARD -->
            <div class="col-lg-4">
                <div class="footer-contact-card">

                    <h5 class="footer-heading">Contact Us</h5>

                    <div class="footer-contact-item">
                        <img src="assets/icons/call icon.png" width="18" />
                        <span>+1 (555) 123-4567</span>
                    </div>

                    <div class="footer-contact-item">
                        <img src="assets/icons/mail.png" width="18" />
                        <span>hello@centramart.com</span>
                    </div>

                    <p class="footer-subtitle mt-3">Follow us on</p>

                    <div class="footer-socials">
                        <img src="assets/icons/facebook.png" />
                        <img src="assets/icons/instagram.png" />
                        <img src="assets/icons/twitter.png" />
                    </div>

                    <div class="footer-contact-item mt-3">
                        <img src="assets/icons/location.png" width="18" />
                        <span>Find a store</span>
                    </div>

                    <!-- Language -->
                    <div class="dropdown footer-lang-dropdown mt-3">
                        <button class="footer-lang-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            English
                        </button>
                    
                        <ul class="dropdown-menu footer-lang-menu">
                            <li>
                                <a class="dropdown-item" href="#" data-lang="en">English</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#" data-lang="ar">Arabic</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- COMPANY -->
            <div class="col-lg-4">
                <h5 class="footer-heading">Company</h5>

                <ul class="footer-links">
                    <li>About Us</li>
                    <li>Delivery Information</li>
                    <li>Privacy Policy</li>
                    <li>Terms & Conditions</li>
                    <li>Contact Us</li>
                    <li>Support Center</li>
                </ul>
            </div>

            <!-- NEWSLETTER -->
            <div class="col-lg-4">
                <h5 class="footer-heading">Subscribe Our Newsletter</h5>

                <div class="footer-newsletter">
                    <input type="text" placeholder="Search here..." />
                    <button>
                        <img src="assets/icons/send.png" width="16" />
                    </button>
                </div>

                <h6 class="footer-subtitle mt-4">Payment Methods</h6>

                <div class="footer-payments">
                    <img src="assets/payments/mastercard.png" />
                    <img src="assets/payments/visa.png" />
                    <img src="assets/payments/paypal.png" />
                </div>
            </div>

        </div>
    </div>
</footer>