<section id="header">
    <div class="top-header py-3 xl-px-2 lg-px-1">
        <div class="container-fluid ">
            <div class="row align-items-center justify-content-evenly">
                <!-- Logo -->
                <div class="logo col-xl-3 col-lg-4 col-md-8 col-6"><img src="assets/images/logo.png" alt="CentraMart" height="40"></div>
                <!-- Search (desktop only) -->
                <div class="d-none d-lg-none d-xl-block col-xl-5 col-lg-4 col-md-8">
                    <div class="searchbar d-flex justify-content-between align-items-center">
                        <div>Search for anything...</div>
                        <img src="assets/icons/search icon.png" alt="" srcset="" width="20" height="20">
                    </div>
                </div>

                <!-- Actions -->
                <div class="col-xl-4 col-lg-5 col-md-8 col-6">
                    <div class="d-flex justify-content-evenly w-full align-items-center">
                        <div class="dropdown">
                            <button class="btn lang-btn text-decoration-none p-2 d-flex align-items-center gap-1" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="assets/icons/globe.png" alt="" srcset="" width="20" height="20">
                                <span>En/Ar</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Arabic</a></li>
                            </ul>
                        </div>
                        <div class="login-btn d-flex align-items-center gap-1 cursor-pointer" data-bs-toggle="modal" data-bs-target="#loginModal"><img src="assets/icons/contact.png" alt="" srcset="" width="20" height="20"> Login / Signup</div>
                        <span class="d-none user-greeting"> Hi, Rinshina!</span>
                        <span><img src="assets/icons/wishlist.png" alt="" srcset="" width="20" height="20"></span>
                        <div class="dropdown cart-dropdown">
                            <button class="btn p-0 d-flex align-items-center position-relative" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                            
                                <img src="assets/icons/cart.png" width="20" height="20">
                                <!-- Cart count badge -->
                                <span class="cart-badge">02</span>
                            </button>
                            <!-- CART DROPDOWN -->
                            <div class="dropdown-menu cart-menu shadow">
                                <h6>Shopping Cart (02)</h6>
                        
                                <!-- Item -->
                                <div class="cart-item">
                                    <img src="assets/products/Canon EOS 1500D DSLR .png" class="cart-img">
                                    <div class="cart-info">
                                        <p class="cart-title">
                                            Canon EOS 1500D DSLR Camera Body+ 18-55 mm
                                        </p>
                                        <div class="cart-meta">
                                            <span>1 ×</span>
                                            <span class="price">$1,500</span>
                                        </div>
                                    </div>
                                    <span class="cart-remove">&times;</span>
                                </div>
                            
                                <!-- Item -->
                                <div class="cart-item">
                                    <img src="assets/products/Simple Mobile 5G LTE Galexy 12 Mini 512GB Gaming Phone.png" class="cart-img">
                                    <div class="cart-info">
                                        <p class="cart-title">
                                            Simple Mobile 5G LTE Galaxy 12 Mini 512GB
                                        </p>
                                        <div class="cart-meta">
                                            <span>2 ×</span>
                                            <span class="price">$269</span>
                                        </div>
                                    </div>
                                    <span class="cart-remove">&times;</span>
                                </div>
                            
                                <!-- Subtotal -->
                                <div class="cart-summary">
                                    <span>Sub-Total:</span>
                                    <span>$2038.00 USD</span>
                                </div>
                            
                                <!-- Actions -->
                                <div class="cart-actions">
                                    <button class="btn btn-danger w-100 mb-2">
                                        CHECKOUT NOW →
                                    </button>
                                    <button class="btn btn-outline-danger w-100">
                                        VIEW CART
                                    </button>
                                </div>
                            </div>
                        </div>

                        <span>Need Help?</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class=" nav-links border-top py-1">
        <div class="container d-flex justify-content-center align-items-center">
            <ul class="nav navlink-content d-flex justify-content-center align-items-center">
                <li class="nav-item nav-link allcategory ">
                    <div class="dropdown">
                        <button class="btn lang-btn text-decoration-none " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span>All Categories</span><img class="dropdown-arrow" src="assets/icons/dropdown.png" alt="" srcset="" width="20" height="20">
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" href="#">Smartphones</a></li>
                            <li><a class="dropdown-item" href="#">Laptops & Tablets</a></li>
                            <li><a class="dropdown-item" href="#">Televisions & Audio</a></li>
                            <li><a class="dropdown-item" href="#">Cameras</a></li>
                            <li><a class="dropdown-item" href="#">Home & Kitchen</a></li>
                            <li><a class="dropdown-item" href="#">Accessories</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item nav-link brands-dropdown position-relative">
                    <span class="brands-trigger">Brands</span>
                
                    <div class="brands-mega-menu shadow-lg d-flex">
                    
                        <!-- LEFT -->
                        <div class="brands-left">
                            <h6 class="fw-semibold mb-3">Popular Brands</h6>
                
                            <div class="brands-grid">
                                <div class="brand-card"><img src="assets/brands/apple.png"></div>
                                <div class="brand-card"><img src="assets/brands/samsung.png"></div>
                                <div class="brand-card"><img src="assets/brands/honor.png"></div>
                                <div class="brand-card"><img src="assets/brands/huawei.png"></div>
                                <div class="brand-card"><img src="assets/brands/asus.png"></div>
                                <div class="brand-card"><img src="assets/brands/dyson.png"></div>
                                <div class="brand-card"><img src="assets/brands/sony.png"></div>
                                <div class="brand-card"><img src="assets/brands/dell.png"></div>
                                <div class="brand-card"><img src="assets/brands/smeg.png"></div>
                            </div>
                        </div>
                    
                        <!-- RIGHT -->
                        <div class="brands-right border-start">
                            <input type="text" class="form-control" placeholder="Search Brands...">
                    
                            <ul class="list-unstyled brand-list">
                                <li class="brand-list-li mt-2">iPhone</li>
                                <li class="brand-list-li mt-2">Samsung</li>
                                <li class="brand-list-li mt-2">Realme</li>
                                <li class="brand-list-li mt-2">Xiaomi</li>
                                <li class="brand-list-li mt-2">Oppo</li>
                                <li class="brand-list-li mt-2">Vivo</li>
                                <li class="brand-list-li mt-2">OnePlus</li>
                                <li class="brand-list-li mt-2">Huawei</li>
                                <li class="brand-list-li mt-2">Infinix</li>
                                <li class="brand-list-li mt-2">Tecno</li>
                            </ul>
                        </div>
                    
                    </div>
                </li>

                <li class="nav-item nav-link new-arrivals">New Arrivals</li>
                <li class="nav-item nav-link best-sellers">Best Sellers</li>
                <li class="nav-item nav-link hot-deals">Hot Deals</li>
            </ul>
        </div>
    </div>
</section>
