<section class="trust-strip">
    <div class="container">
        <div class="row text-center g-4">

            <div class="col-6 col-md-3">
                <div class="trust-item">
                    <img src="assets/icons/delivery.png" alt="Fast Delivery">
                    <div class="d-flex flex-column align-items-start">
                        <h6>FAST DELIVERY</h6>
                        <p>Delivery in 24/H</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="trust-item">
                    <img src="assets/icons/trophy.png" alt="24 Hours Return">
                    <div class="d-flex flex-column align-items-start">
                        <h6>24 HOURS RETURN</h6>
                        <p>100% money-back guarantee</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="trust-item">
                    <img src="assets/icons/payment.png" alt="Secure Payment">
                    <div class="d-flex flex-column align-items-start">
                        <h6>SECURE PAYMENT</h6>
                        <p>Your money is safe</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-md-3">
                <div class="trust-item">
                    <img src="assets/icons/contact-support.png" alt="Support 24/7">
                    <div class="d-flex flex-column align-items-start">
                        <h6>SUPPORT 24/7</h6>
                        <p>Live contact/message</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>